*{margin: 0; padding: 0; box-sizing: border-box;}

:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}

@font-face {
    font-family: alata;
    src: url(../fonts/Alata/Alata-Regular.ttf);
}

@font-face {
    font-family: josef;
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
    font-weight: 300;
}

$white: #FFF;
$fontN: 18px;

.flex{
    display: flex;
}

.grid{
    display: grid;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.367)), url("../images/desktop/image-hero.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50px 10em;
    height: 77.7vh;
    
    nav{
        justify-content: space-between;
    }

    img{
        height: 29px;
    }

    ul{
        gap: 20px;
        font-size: $fontN - 2.5;
    }

    ul a{
        font-family: alata;
        text-decoration: none;
        color: var(--White);

        &:hover{
            background-color: red;
        }
    }

    .billboard-hero{
        display: block;
        width: fit-content;
        border: 1px solid white;
        padding: 30px;
        margin-top: 129px;
        cursor: default;

        .font-is-v-large{
            font-family: josef;
            font-size: $fontN * 3.7;
            color: var(--White);
        }
    }
}

main *{
    border: 1px solid black;

}
main{
    margin: 103PX;
}

.lead-container{
    position: relative;
    margin-bottom: 170px;
    img{
        width: 48em;
    }
}

.quick-info{
    position: absolute;
    background-color: var(--White);
    width: 505px;
    padding: 50px;
    right: 0;
    top: 220px;
    
    .lead-title{
        font-family: josef;
        font-size: $fontN *2.6;
        margin-bottom: 10px;
    }

    .lead-description{
        font-family: alata;
        font-size: $fontN - 4;
        line-height: 20px;
        color: var(--Dark-Gray);
    }
}

footer{
    background-color: #000;
    color: #FFF;
}