* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

a, button {
  cursor: pointer;
  text-decoration: none;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
}

@font-face {
  font-family: alata;
  src: url(../fonts/Alata/Alata-Regular.ttf);
}
@font-face {
  font-family: josef;
  src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
  font-weight: 300;
}
.flex {
  display: flex;
}

.grid {
  display: grid;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.367)), url("../images/desktop/image-hero.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 50px 10em;
  height: 76.8vh;
}
header nav {
  justify-content: space-between;
}
header img {
  height: 29px;
}
header ul {
  gap: 20px;
  font-size: 15.5px;
}
header ul a {
  font-family: alata;
  color: var(--White);
}
header ul a:hover {
  background-color: red;
}
header .billboard-hero {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid white;
  padding: 30px;
  margin-top: 129px;
}
header .billboard-hero .font-is-v-large {
  font-family: josef;
  font-size: 66.6px;
  color: var(--White);
}

main {
  margin: 123PX;
}

.lead-container {
  position: relative;
  margin-bottom: 100px;
}
.lead-container img {
  width: 44em;
}

.quick-info {
  position: absolute;
  background-color: var(--White);
  width: 505px;
  padding: 50px;
  right: 0;
  top: 220px;
}
.quick-info .lead-title {
  font-family: josef;
  font-size: 46.8px;
  margin-bottom: 10px;
}
.quick-info .lead-description {
  font-family: alata;
  font-size: 14px;
  line-height: 20px;
  color: var(--Dark-Gray);
}

.mid-section {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.mid-section .creation-title {
  font-family: josef;
  font-size: 36px;
}
.mid-section .creation-button {
  background-color: transparent;
  border: 1px solid black;
  height: 32px;
  width: 120px;
}
.mid-section .creation-button:hover {
  background-color: black;
}
.mid-section .creation-button:hover a {
  color: white;
}
.mid-section .creation-button a {
  color: var(--Black);
  letter-spacing: 2px;
  font-size: 13px;
}

.grid {
  grid-template-columns: repeat(4, 227px);
  grid-template-rows: repeat(2, 400px);
  gap: 20px;
  justify-content: center;
}
.grid .item {
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 27px;
  padding: 30px;
  font-family: josef;
  align-items: flex-end;
}
.grid a {
  background-size: contain;
}
.grid .earth {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/desktop/image-deep-earth.jpg);
}
.grid .earth:hover {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-deep-earth.jpg);
  color: var(--Black);
}
.grid .arcade {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/desktop/image-night-arcade.jpg);
}
.grid .arcade:hover {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-night-arcade.jpg);
  color: var(--Black);
}
.grid .soccer {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(../images/desktop/image-soccer-team.jpg);
}
.grid .soccer:hover {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-soccer-team.jpg);
  color: var(--Black);
}
.grid .grid {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/desktop/image-grid.jpg);
}
.grid .grid:hover {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-grid.jpg);
  color: var(--Black);
}
.grid .up {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/desktop/image-from-above.jpg);
}
.grid .up:hover {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-from-above.jpg);
  color: var(--Black);
}
.grid .pocket {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/desktop/image-pocket-borealis.jpg);
}
.grid .pocket:hover {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-pocket-borealis.jpg);
  color: var(--Black);
}
.grid .curiosity {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/desktop/image-curiosity.jpg);
}
.grid .curiosity:hover {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-curiosity.jpg);
  color: var(--Black);
}
.grid .fisheye {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/desktop/image-fisheye.jpg);
}
.grid .fisheye:hover {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-fisheye.jpg);
  color: var(--Black);
}

footer {
  background-color: #000;
  color: #FFF;
  padding: 20px 50px;
}

.media-logo, .link-rights {
  justify-content: space-between;
}

.media-logo img {
  height: 20px;
}

.media {
  gap: 10px;
}

.footer-list {
  gap: 10px;
}
.footer-list ol {
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}
.footer-list ol:hover {
  position: relative;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.link-rights {
  font-family: josef;
  font-size: 13px;
  margin-top: 10px;
}
.link-rights ul {
  font-family: alata;
}
.link-rights a {
  color: white;
}

.rights {
  color: var(--Dark-Gray);
}/*# sourceMappingURL=style.css.map */