*{margin: 0; padding: 0; box-sizing: border-box; cursor: default;}

a, button{
    cursor: pointer;
    text-decoration: none;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}

@font-face {
    font-family: alata;
    src: url(../fonts/Alata/Alata-Regular.ttf);
}

@font-face {
    font-family: josef;
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
    font-weight: 300;
}

$white: #FFF;
$fontN: 18px;

.flex{
    display: flex;
}

.grid{
    display: grid;
}

// __________________________________________________HEADER_______________

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.367)), url("../images/desktop/image-hero.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50px 10em;
    height: 76.8vh;
    
    .menu{
        display: none;
    }

    .close-menu{
        display: none;
    }

    nav{
        justify-content: space-between;
    }

    img{
        height: 29px;
    }

    ul{
        gap: 20px;
        font-size: $fontN - 2.5;
    }

    ul a{
        font-family: alata;
        color: var(--White);
    }

    .billboard-hero{
        display: block;
        width: fit-content;
        border: 1px solid white;
        padding: 30px;
        margin-top: 129px;

        .font-is-v-large{
            font-family: josef;
            font-size: $fontN * 3.7;
            color: var(--White);
        }
    }
}

// manipulate for the bottom border
.nav-list{
    ol {
        position: relative;
    }
    a:hover::after{
        content: " ";
        position: absolute;
        width: 35px;
        bottom: 0;
        left: 15%;
        border-bottom: 2px solid white;
    }
}

// ___________________________________________________MAIN_CONTENT___________

main{
    margin: 123PX;
}

.lead-container{

    position: relative;
    margin-bottom: 100px;

    img{
        width: 44em;
    }
}

.quick-info{
    position: absolute;
    background-color: var(--White);
    width: 505px;
    padding: 50px;
    right: 0;
    top: 220px;
    
    .lead-title{
        font-family: josef;
        font-size: $fontN *2.6;
        margin-bottom: 10px;
    }

    .lead-description{
        font-family: alata;
        font-size: $fontN - 4;
        line-height: 20px;
        color: var(--Dark-Gray);
    }
}

.mid-section{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    .creation-title{
        font-family: josef;
        font-size: $fontN * 2;
    }

}

.creation-button{
    background-color: transparent;
    border: 1px solid black;
    height: 32px;
    width: 120px;

    &:hover{
        background-color: black;
        a{
            color: white;
        }
    }
    
    a {  
        color: var(--Black); 
        letter-spacing: 2px; 
        font-size: $fontN - 5;
    }
}

// ___________________________________________CREATION_GRID_SECTION_________

.grid{
    grid-template-columns: repeat(4, 227px);
    grid-template-rows: repeat(2, 400px);
    gap: 20px;
    justify-content: center;

    .item{
        display: flex;
        color: white;
        text-decoration: none;
        font-size: $fontN * 1.5;
        padding: 30px;
        font-family: josef;
        align-items: flex-end;
    }

    a{
        background-size: contain;
    }

    .earth{
        background-image:linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(../images/desktop/image-deep-earth.jpg);
        &:hover{
            background-image:linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-deep-earth.jpg);
            color: var(--Black);
        }
    }

    .arcade{
        background-image:linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(../images/desktop/image-night-arcade.jpg);
        &:hover{
            background-image:linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-night-arcade.jpg);
            color: var(--Black);
        }
    }

    .soccer{
        background-image:linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)), url(../images/desktop/image-soccer-team.jpg);
        &:hover{
            background-image:linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-soccer-team.jpg);
            color: var(--Black);
        }
    }

    .grids{
        background-image:linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(../images/desktop/image-grid.jpg);
        &:hover{
            background-image:linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-grid.jpg);
            color: var(--Black);
        }
    }

    .up{
        background-image:linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(../images/desktop/image-from-above.jpg);
        &:hover{
            background-image:linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-from-above.jpg);
            color: var(--Black);
        }
    }

    .pocket{
        background-image:linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(../images/desktop/image-pocket-borealis.jpg);
        &:hover{
            background-image:linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-pocket-borealis.jpg);
            color: var(--Black);
        }
    }

    .curiosity{
        background-image:linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(../images/desktop/image-curiosity.jpg);
        &:hover{
            background-image:linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-curiosity.jpg);
            color: var(--Black);
        }
    }

    .fisheye{
        background-image:linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(../images/desktop/image-fisheye.jpg);
        &:hover{
            background-image:linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/desktop/image-fisheye.jpg);
            color: var(--Black);
        }
    }
}

.creation-button{
    display: none;
}
// __________________________________________FOOTER_SECTION_______________________

footer{
    position: relative;
    justify-content: space-between;
    background-color: #000;
    color: #FFF;
    padding: 20px 50px;

}

.media-logo, .link-rights{
    display: block;
}

.media-logo img{
    margin: 0;
    padding: 0;
    height: 20px;
}

.media-list{
    gap: 10px;

}

.media-list{
    margin-bottom: 5px;
    ol{
        position: relative;
        padding-bottom: 5px;

        a:hover::after{
            content: "";
            position: absolute;
            width: 20px;
            bottom: 0;
            border-bottom: 2px solid white;
            right: 10%;
        }
    }
}

.footer-list{
    gap:10px;

    ol{
        padding: 7px;
        position: relative;

        a{
            font-family: josef;
            color: white;
        }

        a:hover::after{
            content: "";
            position: absolute;
            width: 25px;
            bottom: 0;
            border-bottom: 2px solid white;
            right: 28%;
        }
    }

}

.link-rights{
    font-family: josef;
    font-size: $fontN - 5;
    margin-top: 10px;

    ul{
        font-family: alata;
    }

    a{
        color: white;
    }

}

.rights{
    color: var(--Dark-Gray);

}

.attribution{
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width:375px) {

    .mobile-grid-one-column{
        display: grid;
        grid-template-columns: auto;
    }

    $mobileFont: 10px;

    header{
        padding: 30px 20px;
        background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/mobile/image-hero.jpg");
        height: 40.7em;

        .menu, .close-menu{
            position: absolute;
            display: block;
            height: 15px;
            cursor: pointer;
        }

        .nav-logo{
            z-index: 1;
            height: 20px;
        }

        .nav-list{
            position: fixed;
            left: 0;
            top: 0;
            padding: 0 20px 0 20px;
            background-color: black;
            width: 100%;
            height: 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: 1s;

            ol a{
                font-size: $mobileFont * 2;
                font-family: josef;
                font-weight: 100;
            }

            a:hover::after{
                content:"";
                left: 0;
                bottom: -10px;
                border-bottom: 1px solid magenta;
                width: 100%;
            }
        }

        .nav-open{
            height: 100vh;

        }

        .menu, .close-menu{
            top: 32px;
            right: 30px;
        }

        .billboard-hero{
            width: 340px;
            padding: 20px 20px;
            margin: 200px auto;

            .font-is-v-large{
                font-size: 2.7em;
            }
        }
    }

    // ________________________MAIN_______MAIN____________________________
    main{
        display: grid;
        grid-template-columns: auto;
        margin: 30px 10px;
    }

    .lead-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        
        img{
            width: 20em;
        }

        .quick-info{
            width: 85%;
            position: relative;
            left: 0;
            top: 0;
            padding: 0;
            text-align: center;
            word-spacing: 5px;

            h1{
                font-size:$mobileFont * 3.3;
                font-weight: 100;
            }

            .lead-description{
                font-size: $mobileFont * 1.5;
            }
        }

    }

    // ____________________________CREATION_________________________________

    .grid{
        grid-template-columns: auto;
        grid-template-rows: repeat(8, 121px);
        padding: 0;
        
        .earth{
            background-image:linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(../images/mobile/image-deep-earth.jpg);
            background-size: contain;
            &:hover{
                background-image:linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/mobile/image-deep-earth.jpg);
                color: var(--Black);
            }
        }

        .arcade{
            background-image:linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(../images/mobile/image-night-arcade.jpg);
            background-size: contain;
            &:hover{
                background-image:linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/mobile/image-night-arcade.jpg);
                color: var(--Black);
            }
        }

        .soccer{
            background-image:linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(../images/mobile/image-soccer-team.jpg);
            background-size: contain;
            &:hover{
                background-image:linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/mobile/image-soccer-team.jpg);
                color: var(--Black);
            }
        }

        .grids{
            background-image:linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(../images/mobile/image-grid.jpg);
            background-size: contain;
            &:hover{
                background-image:linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/mobile/image-grid.jpg);
                color: var(--Black);
            }
        }

        .up{
            background-image:linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(../images/mobile/image-from-above.jpg);
            background-size: contain;
            &:hover{
                background-image:linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/mobile/image-from-above.jpg);
                color: var(--Black);
            }
        }

        .pocket{
            background-image:linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(../images/mobile/image-pocket-borealis.jpg);
            background-size: contain;
            &:hover{
                background-image:linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/mobile/image-pocket-borealis.jpg);
                color: var(--Black);
            }
        }

        .curiosity{
            background-image:linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(../images/mobile/image-curiosity.jpg);
            background-size: contain;
            &:hover{
                background-image:linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/mobile/image-curiosity.jpg);
                color: var(--Black);
            }
        }

        .fisheye{
            background-image:linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(../images/mobile/image-fisheye.jpg);
            background-size: contain;

            &:hover{
                background-image:linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/mobile/image-fisheye.jpg);
                color: var(--Black);
            }
        }
    }

    .creation-container{
        text-align: center;
    }
    
    .desktop-button{
        display: none;
    }

    .mid-section{
        width: fit-content;
        margin: 50px auto;
    }

    
    .mobile-button{
        display: block;
        margin: 10px auto;
    }

    // FOOTER___________________________________________________________________FOOTER

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:20px 0;

        ol{
           width: fit-content; 
        }
    }

    .media-list{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}